.commentItem_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.commentItem_top_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.first_letter_para {
  color: #dee0e3;
  height: 25px;
  width: 25px;
  font-size: 20px;
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: blue;
  margin-right: 10px;
  padding: 20px;
  align-self: flex-start;
}

.commentItem_text_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.commentItem_heading {
  font-size: 20px;
  font-weight: bold;
  color: #334155;
  margin-right: 20px;
}

.commentItem_time {
  font-size: 10px;
  color: #94a3b8;
  align-self: center;
}

.commentItem_para {
  font-size: 15px;
  color: #64748b;
  margin-top: 10px;
}

.commentItem_bottom_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.commentItem_bottom_container_like_image {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.commentItem_bottom_container_like_para {
  font-size: 20px;
  color: #7e858e;
  border-width: 0px;
  background-color: transparent;
}

.when_liked_para {
  color: #0ea5e9;
}

.commentItem_bottom_container_delete_button {
  background-color: transparent;
  height: 30px;
  width: 30px;
  border-width: 0px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentItem_bottom_container_delete_image {
  height: 20px;
  width: 20px;
}

.commentItem_horizontal_line {
  border-style: solid;
  border-width: 0.1px;
  border-color: #7e858e;
  width: 100%;
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
